header{
    background-color: #f72210;      
}
.link-onimg{
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    color: #f72210;
}
.text-black{
    color: black;
}
h5:hover{
    text-decoration: underline #f72210;
}
h6:hover{
    color: #f72210;
}
.bg-orange{
    background: #f72210;
}
.text-orange{
    color: #f72210;
}
.hover-feat:hover{
    background: #8a8b8b;
}
.signup-card{
    background-color: #f4f5f6;
}
.bg-slideshow{
    background: url(./numeritos.png) no-repeat;
    background-size: contain;
}
*{
    font-family: 'Roboto Condensed', sans-serif;
}